name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        # 1.87 is the MSRV for the crate
        rust: ["nightly", "beta", "stable", "1.87"]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install ${{matrix.rust}} toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
          components: rustfmt clippy

      - name: Install deps
        run: ./scripts/install-test-deps.sh

      - name: Run full test script
        run: ./scripts/ci.sh "${{matrix.rust}}"
